@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap');
.italics{
    font-family: 'Ubuntu';
    font-style: italic;
    text-transform: uppercase;
    color: rgb(49, 53, 65);
    text-align: center;
    text-decoration: underline;
    margin: 5px;
}