.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  padding: 10px;
  min-height: 150px;
}

.new-inputs {
  margin-top: 20px;
  margin-bottom: 10px;
}

.fix {
  display: flex;
  margin-left: 40px;
}
