.menu > a {
  display: inline-block;
  padding: 5px;
}

<<<<<<< HEAD
.title-decoration {
  text-transform: uppercase;
}

.body-page {
  font-style: italic;
}
=======
.title-color {
  color: blue;
}
.title-decoration {
  text-transform: uppercase;
}
.body-page {
  font-style: italic;
}
>>>>>>> bcffc8c3b3ce5c919d90891fae9946e19886892c
