.menu > a {
  display: inline-block;
  padding: 5px;
}

.title-color {
  color: blue;
}
.title-decoration {
  text-transform: uppercase;
}
.body-page {
  font-style: italic;
}

.header-title {
  text-transform: uppercase;
}

.blog-post .title {
  text-transform: none;
}

.main-body {
  text-transform: uppercase;
  font-style: italic;
}

.blog-post .body {
  text-transform: none;
  font-style: normal;
}